* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.full-image-container:after {
  content: '';
  display: block;
  padding-top: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-size: cover;
  display: inline-block;
}

/* .f-img-cont-1 {
  background-image: url('../../Images/AstoriaLogo.png');
  background-color: rgb(230, 236, 118);
} */
.f-img-cont-2 {
  background-image: url('../../Images/goku-jet.jpg');
}
.f-img-cont-3 {
  background-image: url('../../Images/block.jpg');
}
.f-img-cont-4 {
  background-image: url('../../Images/green.jpg');
}
.f-img-cont-5 {
  background-image: url('../../Images/xgirl.jpg');
}
.f-img-cont-6 {
  background-image: url('../../Images/pose.jpg');
}
.f-img-cont-7 {
  background-image: url('../../Images/on-rocks.jpg');
}