

.full-image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: black;
  background-size: cover;
  background-position: center;
  max-width: 450px;
  overflow: hidden;
}

.full-image-container:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.f-img-cont-1 {
  background-image: url('../../Images/AstoriaLogo.png');
  background-color: brown;
}
.f-img-cont-2 {
  background-image: url('../../Images/goku-jet.jpg');
}
.f-img-cont-3 {
  background-image: url('../../Images/block.jpg');
}
.f-img-cont-4 {
  background-image: url('../../Images/green.jpg');
}
.f-img-cont-5 {
  background-image: url('../../Images/xgirl.jpg');
}
.f-img-cont-6 {
  background-image: url('../../Images/pose.jpg');
}
.f-img-cont-7 {
  background-image: url('../../Images/on-rocks.jpg');
}