* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: blue;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.full-image-container:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.f-img-cont-1 {
  background-image: url('../../Images/AstoriaLogo.png');
  background-color: rgb(230, 236, 118);
}
.f-img-cont-2 {
  background-image: url('../../Images/goku-jet.jpg');
}
.f-img-cont-3 {
  background-image: url('../../Images/block.jpg');
}
.f-img-cont-4 {
  background-image: url('../../Images/green.jpg');
}
.f-img-cont-5 {
  background-image: url('../../Images/xgirl.jpg');
}
.f-img-cont-6 {
  background-image: url('../../Images/pose.jpg');
}
.f-img-cont-7 {
  background-image: url('../../Images/on-rocks.jpg');
}
.f-img-cont-8 {
  background-image: url('../../Images/image1.jpg');
}
.f-img-cont-9 {
  background-image: url('../../Images/image2.jpg');
}
.f-img-cont-10 {
  background-image: url('../../Images/image3.jpg');
}
.f-img-cont-11 {
  background-image: url('../../Images/image4.jpg');
}
.f-img-cont-12 {
  background-image: url('../../Images/image5.jpg');
}
.f-img-cont-13 {
  background-image: url('../../Images/image6.jpg');
}