/* .full-header {
  background-color: black;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 0.1s ease-out;
} */

.full-header-shrink {
  background-color: black;
  position: fixed;
  top: -217px; left: 0; right: 0;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 0.18s ease-out 0.1s;
}

/* .header-container {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  width: 100%;
} */

/* .top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 220px;
  margin: 0 30px;
} */

/* .logo {
  height: 100%;
  width: 400px;
} */

.logo-image {
  background-image: url("../../Images/AstoriaLogo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100%;
}

/* .bottom-row {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
} */

.social-media-pretrigger {
  position: absolute;
  left: -70px;
  opacity: 0;
  transition: 0.17s ease-in-out;
}

.social-media-triggered {
  position: absolute;
  left: 0;
  opacity: 1;
  transition: 0.18s ease-out 0.4s;
}

.shop, .gallery, .about, .contact, .sales {
  margin-left: 30px;
  transition: 0.15s;
}

.home:hover {
  color: #FD0100;
  transition: .15s;
}
.shop:hover {
  color: #F76915;
}
.gallery:hover {
  color:#EEDE04;
}
.about:hover {
  color:#A0D636;
}
.contact:hover {
  color:#2FA236;
}
.sales:hover {
  color:#333ED4;
}

.tools-pretrigger {
  position: absolute;
  right: -70px;
  opacity: 0;
  transition: 0.18s ease-in-out;
}

.tools-triggered {
  position: absolute;
  right: 0;
  opacity: 1;
  transition: 0.18s ease-out 0.4s;
}

/* Vertical Header */

.shrunk-bg-header {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgb(71 1 160);
  transition: 0.4s cubic-bezier(0, 0, 0, 1.06);
} 

.bg-header {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 0px;
  background-color: rgb(71 1 160);
}

.shrunk-vert-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 249px;
  display: flex;
  align-items: center;
  z-index: 10;
  transition: 1s cubic-bezier(0, 0, 0, 1.06);
  transition-delay: 0.15s;
}

.vert-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 0px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.vheader-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.vtop-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.vlogo {
  height: 320px;
  width: 400px;
  margin-left: -8px;
}

.vert-bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
}

.vhome,
.vshop,
.vgallery,
.vabout,
.vcontact,
.vsales {
margin: 10px 20%;
}

.flat-line {
  height: 0.1px;
  width: 100%;
  background-color: white;
}

.social-media {
  flex-direction: column;
  margin: auto auto 50px auto;
  width:300px;
  text-align: center;
  color: red;
}