* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbo-container {
  height: 100vh;
  width: auto;
  /* margin-left: 250px; */
  background-image: url('../../Images/xgirl.jpg');
  background-size: 130%;
  background-position: 10% 30%;
  background-repeat: no-repeat;
  overflow: hidden;
}

img {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.email-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 150px;
  left: 75%;
  height: 100px;
  width: 250px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: 5px solid white;
  border-radius: 50px;
}
