.full-header {
  background-color: black;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 0.1s ease-out;
}

.full-header-shrink {
  background-color: black;
  position: fixed;
  top: -217px; left: 0; right: 0;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 0.18s ease-out 0.1s;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  width: 100%;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 220px;
  margin: 0 30px;
}



.bottom-row {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
}

.social-media-pretrigger {
  position: absolute;
  left: -70px;
  opacity: 0;
}

.social-media-triggered {
  position: absolute;
  left: 0;
  opacity: 1;
  transition: 0.18s ease-out 0.4s;
}

.shop, .gallery, .about, .contact, .sales {
  margin-left: 30px;
  transition: 0.15s;
}

.home:hover {
  color: #FD0100;
  transition: .15s;
}
.shop:hover {
  color: #F76915;
}
.gallery:hover {
  color:#EEDE04;
}
.about:hover {
  color:#A0D636;
}
.contact:hover {
  color:#2FA236;
}
.sales:hover {
  color:#333ED4;
}

.tools-pretrigger {
  position: absolute;
  right: -70px;
  opacity: 0;
}

.tools-triggered {
  position: absolute;
  right: 0;
  opacity: 1;
  transition: 0.18s ease-out 0.4s;
}