* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
  }

.sales-jumbo-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.sales-jumbo-info-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-height: 500px;
}

.sales-section-header {
    position: absolute;
    top: 180px;
    color: black;
    margin-bottom: 20px;
}

.sales-jumbo-button {
    height: 50px;
    width: 200px;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.1s ease;
}
.sales-jumbo-button:hover {
    position: relative;
    height: 70px;
    width: 250px;
    color: white;
    background-color: black;
    margin: 10px;
    border: 4px solid white;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 100;
}

.sales-img-cont {
    width: 50%;
    max-height: 500px;
    overflow: hidden;
}
.sales-jumbo-image:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.sales-jumbo-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s ease;
}

.sales-jumbo-image-1 {
    background-image: url('../../Images/aras.jpg');
}
