.item-row-cont {
    width: 100vw;
    height: 400px;
    background-color: tomato;
}

.item-row-inner-cont {
    display: flex;
    
    width: 100%;
    height: 100%;
}

.item-row-inner-cont li {
    width: 25%;
    height: 100%;
    background-color: blueviolet;
}