* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sales-card-wrap {
    width: 460px;
    height: 400px;
}


.card {
    position: relative;
    width : 450px;
    height : 330px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 10px;
}
.card:hover {
    height : 400px;    
}


.card .image {
    position : relative;
    width : 400px;
    height : 400px;
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
    transition: 0.3s ease-in-out;
}

.card .image:hover {
    top : -60%;
    transition: 0.3s ease-in-out;
}

.card .image img {
    max-width : 100%;
    border-radius : 10px;
    height: 400px;
    object-fit: cover;
    z-index: 100;
}
  
  .card .content {
    position : relative;
    top : -220px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .card:hover .content {
    top: -180px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }