* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shop-outer-container {
    display : flex;
    align-items : center;
    justify-content : center; 
    width: 100vw;
    background-color: white;
  }
  
  .shop-container {
    margin: 200px 2px 0; 
    width: 100vw;
    position : relative;
  }

  .sales-card-container {
    padding: 200px 0;
  }

